@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
.container{ 
    font-family: 'Oswald', sans-serif;
    color:black;
    border-radius: 15px;
    padding: 2px 15px;
    background-color:rgb(130, 142, 130);   
    border: 3px solid rgb(82, 97, 107);
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
    margin-top: 5rem;

}
h1{
    text-align: center;
}
h2{
    text-align: center;
}

p{
    font-family: 'Oswald', sans-serif;
}
h3{
    font-family: 'Oswald', sans-serif;
}
#About{
    font-family: 'Oswald', sans-serif;
}