@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
.skills-card{
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    width: 39.5rem;
    border-radius: 12px;
    border: 3px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-repeat: no-repeat;
    background-color: rgb(170, 212, 229);
}
tr:nth-child(odd) {
    background-color: black;
    color:white;
}
h1{
    text-align: center;
    font-family: 'Orelega One', cursive;
    
}

#skills th{
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    border-radius: 15px;

}

#skills td{
    text-align: center;
    padding: 10px;
    width: 20rem;
}