@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
#back-button {
    border-radius: 12px;
    transition-duration: 0.4s;
    background-color:rgb(17, 45, 78);
    color:rgb(219, 226, 239);
    width: 5rem;
    font-family: 'Zen Dots', cursive;
    font: 1.5rem;
    font-weight: bolder;
    cursor: pointer;

}

#back-button:hover {
    background-color: white;
    color:  black;
}