@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 4px solid rgb(0, 173, 181);
    background-color: rgb(57, 62, 70);
    width: 97%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-family: 'Zen Dots', cursive;
    font-size: 1.7rem;
    text-decoration: none;
    border-radius: 8px;
}

#nav-link{
    text-decoration: none;
    color:rgb(0, 173, 181);
}

#nav-link:hover {
    color: white;
}

.current {
    font-weight: bolder;
}