@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
nav {
    width: 75%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-family: 'Zen Dots', cursive;
    font-size: 1.7rem;
    text-decoration: none;
    border-radius: 8px;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
}

.current {
    font-weight: bolder;
}