.Projects-container{
    align-items: center;
    width: 42%;
    background-color: rgb(130, 142, 130); 
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 2rem;
    border: 3px solid rgb(82, 97, 107);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.76), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.Projects-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
h4{
    text-align: center;
}
h3{
    text-align: center;
    font-size: 2rem;
    font-family: 'Orelega One', cursive;
}
.visit-website{
    font-size: 1.2rem;
    text-decoration: none;
    background-color: rgb(170, 174, 142);
    margin-left: 8rem;
    border-radius: 15px;
    width: 10rem;
    height: 2.6rem;
    font-weight: bolder;
    
}
.visit-repo{
    font-size: 1.2rem;
    text-decoration: none;
    background-color: rgb(170, 174, 142);
    border-radius: 15px;
    width: 12rem;
    height: 2.6rem;
    font-weight: bolder;
    
}
.visit-website:hover{
    color: rgb(224, 224, 224);
    font-size: 1.2rem;
    text-decoration: none;
    background-color: rgb(58, 96, 110);   
    margin-left: 8rem;
    border-radius: 15px;
    width: 10rem;
    height: 2.6rem;
}
.visit-repo:hover{
    color: rgb(224, 224, 224);
    font-size: 1.2rem;
    text-decoration: none;
    background-color: rgb(58, 96, 110);   
    border-radius: 15px;
    width: 12rem;
    height: 2.6rem;
}
#link {
    color: black;
}
#link:hover{
        color: black;
}
